body {
    background-color: #F5F5F5;
    font-family:'Raleway',"Helvetica Neue",sans-serif;
}

.menu {
    background-color: #0A3B59;
    height: 2000px;
    color: #ccc !important;
    padding:  40px 0;
}

.menu .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #cccccc !important;
    font-size:16px;
}

.panel{
    padding: 10px ;
}

.these-icons{
    height:200px;
    text-align: center;
    font-size: 25px;
    padding: 40px 0;
    font-weight:300;
}

.these-icons .header-number{
    font-family:'Open Sans',"Helvetica Neue",sans-serif;
    font-size: 35px;
    font-weight:bold !important;

}
.these-icons .header{
    color: #666;
}
.members{
    padding: 20px;
    color:#666
}
.main{
    padding: 0 20px;
}
.footer{
    text-align: center;
}

.loader {
    margin-top: 10px;
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    display:none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.alert{
    display: none;
}